<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Chat app</h1>
    <div id="chat">
        <div id="messages"></div>
        <input id="message_input" autocomplete="off">
        <button onclick="sendMessage()">Send</button>
    </div>
    <script>
        var socket = io();
        socket.on('message', function (msg) {
            $('#messages').append($('<div>').text(msg));
        });

        function sendMessage() {
            var msg = $('#message_input').val();
            socket.send(msg);
            $('#message_input').val('');
        }
    </script>

</body>

</html>